html, body {
	margin: 0;
	padding: 0;

	min-height: 100%;
	height: 100%;
	width: 100%;

	font-family: 'Roboto Slab';
}

h1, h2, h3, h4, h5, h6 {
	font-family: "Montserrat", "Helvetica Neue", "Helvetica", "Arial", "sans-serif";
	text-transform: uppercase;
	font-weight: 700;
}

.container {
	width: 80%;
	margin: auto;
	transition: .1s;
}

.navbar {
	width: 100%;
	height: 80px;

	background: rgba(0,0,0,.5);

	top: 0;
	left: 0;
	position: fixed;
	
	transition: .1s, height .2s, opacity .2s;;
	
	z-index: 100;
	overflow: hidden;
}

.navbar.open {
	height: 100%;
	background: rgba(0,0,0,.95);
}

.navbar .nav-switch {
	display: none;
	float: right;
	color: #fff;
	font-size: 30px;
	margin-top: 20px;
}

.navbar .nav {
	display: inline-block;
	list-style: none;
	padding: 0;
	margin: 0;
}

.navbar .nav-logo {
	display: inline-block;
	float: left;

	width: 200px;
	height: 80px;

	background: url(../img/nav-logo.png) no-repeat center center;
	background-size: 200px;
	
	transition: .1s;
}

.navbar .nav.nav-right {
	float: right;
}

.navbar .nav li {
	display: inline-block;
	padding: 0;
	margin: 0;

	line-height: 80px;
	padding-left: 10px;
	padding-right: 10px;
}

.navbar .nav li a {
	color: #FFF;
	text-decoration: none;

	font-family: 'Montserrat';
	font-size: 20px;
}

.navbar .nav li a:hover {
	color: #65a6ff;
}

.navbar .nav li a i {
	display: none;
	font-weight: 100;
}

header {
	width: 100%;
	height: calc(100% - 80px);
	height: 100%;

	background: url(../img/header-bg.jpg) no-repeat;
	background-size: cover;
	
	display: flex;
}

header .intro-text {
	width: 100%;

	text-align: center;
	align-self: center;

	color: #FFF;
}

header .intro-text .intro-lead-in {
	font-family: 'Roboto Slab';
	font-size: 40px;
}

header .intro-text .intro-main {
	font-family: 'Montserrat';
	font-size: 100px;
}

section {
	width: 100%;
	padding-top: 100px;
	padding-bottom: 100px;
}

section.gray {
	background: #eeeeee;
}

section .section-header {
	text-align: center;
	margin-bottom: 70px; 
}

section .section-header h2 {
	font-size: 40px;
	margin-bottom: -10px;
	margin-top: 0;
}

.card-container {
	width: 1015px;
	margin: auto;
	padding-left: -10px;
}

.card {
	width: 200px;
	min-height: 240px;
	padding: 20px;
	
	display: inline-block;
	
	background: #f4f4f4;
	border-radius: 4px;
	
	vertical-align: top;
	
	margin-left: 10px;
	margin-top: 15px;
	
	text-align: center;
}

card:after {
	clear: both;
}

.card .img {
	width: 100px;
	height: 100px;

	background: #0867a2;
	border-radius: 100%;
	
	margin: auto;
	
	line-height: 100px;
	text-align: center;
	color: #FFF;
	
	font-size: 50px;
}

.card h3 {
	text-align: center;
}

.contact-info {
	display: flex;
}

.contact-info .map {
	width: 50%;
	height: 500px;
}

.contact-info .map #gmap_canvas {
	height: 100%;
	width: 100%;
}

.contact-info .map #gmap_canvas img {
	max-width: none !important;
	background: none !important;
}

.contact-info .form {
	margin-left: 20px;
	
	width: 50%;
}

.contact-info .form form {
	height: 100%;
	width: 100%;
}

.contact-info .form form input {
	display: block;
	width: 100%;
	height: 30px;
	
	border: 1px solid #dedede;
	border-radius: 3px;
	
	padding-left: 5px;
	
	background: #FFF;
	
	margin-bottom: 10px;
	outline: none;
}

.contact-info .form form input:focus {
	border-color: #0867a2;
}

.contact-info .form form textarea {
	display: block;
	
	width: 100%;
	resize: none;
	
	border: 1px solid #dedede;
	border-radius: 3px;

	padding-left: 5px;
	
	background: #FFF;
	
	outline: none;
}

.contact-info .form form textarea:focus {
	border-color: #0867a2;
}

.contact-info .form form button {
	width: 100%;
	width: calc(100% + 10px);
	height: 40px;
	font-size: 20px;
	background: #098ded;
	cursor: pointer;
	border: none;
	
	margin-top: 10px;
	
	color: #FFF;
}

.contact-info .form form button:hover {
	background: #0079d1;
}

@media screen and (max-width: 1300px) {
	.card-container {
		width: 515px;
	}
}

@media screen and (max-width: 830px) {
	.container {
		width: calc(100% - 40px);
	}
	
	.navbar {
		height: 70px;
	}
	
	.navbar .nav-logo {
		height: 70px;
	}
	
	.navbar .nav-switch {
		display: block;
	}
	
	.navbar .nav {
		display: block;
		width: 100%;
		float: none;
	}
	
	.navbar .nav li {
		display: block;
		width: 100%;
		height: 50px;
		line-height: 50px;
	}
	
	.navbar .nav li a i {
		display: inline;
	}
	
	header .intro-text .intro-lead-in {
		font-size: 30px;
	}

	header .intro-text .intro-main {
		font-size: 80px;
	}
	
	.contact-info {
		display: block;
	}
	
	.contact-info .map {
		display: block;
		width: 100%;
		height: 300px;
	}
	
	.contact-info .form {
		display: block;
		width: 100%;
		margin: 0;
		margin-top: 30px;
	}
}

@media screen and (max-width: 630px) {
	header .intro-text .intro-lead-in {
		font-size: 23px;
	}

	header .intro-text .intro-main {
		font-size: 60px;
	}
	
	.card-container {
		width: 240px;
		width: calc(100% - 40px);
	}
	
	.card-container .card {
		width: calc(100% - 40px);
		margin-left: 0;
	}
}

@media print {
	.navbar {
		display: none;
	}
	
	.contact-info .form {
		display: none;
	}
	
	.contact-info .map {
		display: block;
		width: 100%;
		height: 500px;
		margin: auto;
	}
	
	header .intro-text {
		color: #000; 
	}
}